*~
*.cfg
*.iml
target/
graalvm/
.settings/
./.project
.factorypath
.classpath
.idea/
.project
/bin/
/Coco.jar
component/sl-component.jar
language/dependency-reduced-pom.xml
native/slnative
antlr-4.9.2-complete.jar
